*{
  box-sizing: border-box;
  overflow: hidden;
}

svg{
  cursor: pointer;
}

.app {
  padding: 10px;

  height: 100vh;
  width: 100vw;

  background: whitesmoke;
}

.header {
  height: 58px;
  display: flex;
  align-items: center;
}

.header .head{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .head:first-child{
  width: 38px;
  height: 38px;
  background: white;
}

.header .head:nth-child(2){
  width: calc( 100% - 76px);
  height: 38px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: 3px solid #333;
  height: 38px;
  margin: 0px 10px;
}

.header .head:nth-child(2) svg{
  height: 24px;
}

.header .head:nth-child(2) input{
  height: 100%;
  width: calc( 100% - 38px );
  border: none
}

.header .head:nth-child(2) input:focus{
  border: none;
  outline: none;
}

.header .head:last-child{
  width: 38px;
  height: 38px;
  background: white;
}

.header svg{
  height: 38px;
  width: 38px;
}

.tokens {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat( auto-fill, minmax(30vw, 1fr) );
}

.token-card {
  height: 200px;
  font-size: smaller;

  background: white;

  padding: 10px;
  display: grid;
  border: 3px solid #333;
}

.token-card .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.token-card .col {
  font-size: 12px;
  letter-spacing: 1px;

  font-family: monospace;
}

.token-card .col:first-child{
  width: 100px;  
  font-weight: 600;
}


.users {
 
}



